# Backorder Prediction

In [1]:
from imports import *
%matplotlib inline

In [2]:
df_shapes_log = pd.DataFrame()

## Reading the train and test datasets

In [3]:
df=pd.read_csv(config.csv_file_train,low_memory=False)
df_test=pd.read_csv(config.csv_file_test,low_memory=False)

In [4]:
print("The training data shape =",df.shape ,". The test data shape =", df_test.shape)

The training data shape = (1687861, 23) . The test data shape = (242076, 23)

In [5]:
# Drop last row from each dataset since they are resume lines with some measures about the dataset
df.drop(df.tail(1).index,inplace=True)
df_test.drop(df_test.tail(1).index,inplace=True)

In [6]:
df.drop(['sku'],axis=1,inplace=True)
df_test.drop(['sku'],axis=1,inplace=True)

In [7]:
df_shapes_log = pd.concat([df_shapes_log, fn.df_shape(X = df, Y = df[config.y_column],y0 = 'No',y1='Yes', description= 'initial dataset')])
df_shapes_log = pd.concat([df_shapes_log, fn.df_shape(X = df_test, Y = df_test[config.y_column],y0 = 'No',y1='Yes', description= 'initial test dataset')])
df_shapes_log

            Description X_Cols   X_Rows   Y_Rows       Y0     Y1  Y1 %
0       initial dataset     22  1687860  1687860  1676567  11293  0.67
0  initial test dataset     22   242075   242075   239387   2688  1.11

## Check if we need to reduce the dataset (used in debug mode for faster training)

In [8]:
if config.flag_use_reduced_dataset:
    _, df = train_test_split(df, test_size=config.reduced_dataset_size, stratify=df[config.y_column])
    # df = train;
    _, df_test = train_test_split(df_test, test_size=config.reduced_dataset_size, stratify=df_test[config.y_column])
    #df = train;

In [9]:
df_shapes_log = pd.concat([df_shapes_log, fn.df_shape(X = df, Y = df[config.y_column],y0 = 'No',y1='Yes', description= 'initial dataset')])
df_shapes_log = pd.concat([df_shapes_log, fn.df_shape(X = df_test, Y = df_test[config.y_column],y0 = 'No',y1='Yes', description= 'initial test dataset')])
df_shapes_log

            Description X_Cols   X_Rows   Y_Rows       Y0     Y1  Y1 %
0       initial dataset     22  1687860  1687860  1676567  11293  0.67
0  initial test dataset     22   242075   242075   239387   2688  1.11
0       initial dataset     22    84393    84393    83828    565  0.67
0  initial test dataset     22    12104    12104    11970    134  1.11

## Export processed data sets to be used in next steps

In [10]:
if not os.path.exists(config.cache_dir):
    os.makedirs(config.cache_dir)
if not os.path.exists(config.output_dir):
    os.makedirs(config.output_dir)

In [11]:
df.to_hdf(config.df_initial, 'df', 'w')
df_test.to_hdf(config.df_test_initial, 'df', 'w')